<div class="column">
	<nav class="panel">
		<p class="panel-heading">Tal vez te guste</p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-32x32">
						<img src="https://bulma.io/images/placeholders/64x64.png" alt="">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong>Seguidor_1</strong>
							<small>@seguidor_1</small>
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-32x32">
						<img src="https://bulma.io/images/placeholders/64x64.png" alt="">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong>Seguidor_2</strong>
							<small>@seguidor_2</small>
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-32x32">
						<img src="https://bulma.io/images/placeholders/64x64.png" alt="">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong>Seguidor_3</strong>
							<small>@seguidor_3</small>
						</p>
					</div>
				</div>
			</article>
		</div>
	</nav>
</div>