<div class="column is-one-quarter">
	<div class="panel">
		<p class="panel-heading">Tendencias</p>
		<a class="panel-block">Tendencia 1</a>
		<a class="panel-block">Tendencia 2</a>
		<a class="panel-block">Tendencia 3</a>
		<a class="panel-block">Tendencia 4</a>
		<a class="panel-block">Tendencia 5</a>
		<a class="panel-block">Tendencia 6</a>
	</div>
</div>